* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Grotesk', sans-serif;
}

/* colors
white-background: #ffffff;
blue-button: #0058ff
carattere blue button: #ffffff
carattere header black: #474747;
h1: #000000;
back jumbo: #b4d0e7;
 */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.btn {
  background-color: #0058ff;
  padding: 10px 15px;
}

.btn a {
  color:#ffffff;
}

/* HEADER */
header {
  height: 70px;
  background-color:#ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

header .menu.left img, header .menu.left li {
  margin-right: 30px;
}

header .menu.right li {
  margin-left: 30px;
}

header img {
  vertical-align: middle;
  height: 50%;
}

header a {
  color: #474747;
}

header .btn {
  padding: 5px 15px;
}

.menu.right ul {
  align-items: center;
}

/* JAMBOTRON  */
.jumbotron {
  background-color: #b4d0e7;
  max-height:  100%;
  padding-top: 100px;
}

.jumbotron .content {
  width: 65%;
  margin: 0 auto;
  max-width: 1400px;
}

.jumbotron .jumbo-image {
  width: 55%;
  height: 100%;
}

.jumbotron img {
  width: 100%;
}

.jumbotron h1 {
  margin: 50px 0 20px;
  font-size: 5rem;
  font-weight: bolder;
}

.jumbotron .col.d-flex {
  width: 35%;
}

.text.d-flex, .col.d-flex {
  flex-direction: column;
  justify-content: space-between;
}

.jumbotron .text {
  font-size: 1.1rem;
  height: 65%;
}
.jumbotron .btn {
  display: inline;
  margin: 50px 0;
}

.jumbotron i {
  font-size: 3rem;
  padding-bottom: 20px;
}

/* MAIN */
main {
  background-color: #ffffff;
}
main .container {
  width: 55%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 100px;
}

main .plans h2 {
  font-size: 2.5rem;
  }

main .plans h2, main .plans .radio-button {
  margin-bottom: 50px;
}

.plans .month, .plans .year {
  display: inline-block;
  margin-right: 50px;
}

main .table, main .col-table .top {
  justify-content: space-between;
}

main .col-table {
  width: calc(100% / 3 - 30px);
  border: 1px solid #d0d0d3;
  padding-bottom: 30px;
}

main .col-table, main .col-table .top, .col-table .bottom, .col-table .title, .col-table ul, .col-table .sell {
  flex-direction: column;
}

main .plans .size {
  border-bottom: 1px solid #d0d0d3;
  text-align: center;
  padding: 10px 0;
}  

main .col-table .top {
  height: 50%;
}

main .plans .top {
  padding: 40px 30px 0;
} 

main .plans .bottom {
  padding: 0 30px;
} 

.plans ul p {
  display: inline;
}

.plans .sell .btn {
  display: inline;
  text-align: center;
}

.plans .top li {
  margin-bottom: 20px;
}

.plans .top .sell .btn {
  margin-bottom: 40px;
}

.plans .bottom hr {
  width: 20%;
  color: #d0d0d3;
  margin: 30px 0;
}

.plans .bottom li {
  padding-bottom: 10px;
}










