* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

/* GENERAL */
section::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a:not(.classic) {
  text-decoration: none;
}

.classic {
  color: #3636f1;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  line-height: 3.1rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1rem;
}

p {
  color: black;
  line-height: 1.4rem;
  font-size: 1rem;
}

section, .jumbotron {
  margin-bottom: 150px;
}

.container {
  width: 52%;
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  width: 62%;
  margin: 0 auto;
  max-width: 1400px;
  height: 100%;
}

.btn {
  background-color: #0058ff;
  padding: 10px 15px;
}

.btn:hover {
  background-color: #0c88fe;
}

.btn a {
  color:#ffffff;
}

.icon {
  padding-right: 5px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.horizontal-bar {
  height: 0.5px;
  background-color: lightgray;
 }

/* HEADER */
header {
  height: 80px;
  background-color:#ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

header .menu.left li {
  margin-right: 40px;
  height: 80px;
  line-height: 80px;
}

header .menu.right li {
  height: 80px;
  line-height: 80px;
}

header .menu.right li:not(li:last-child) {
  margin-left: 40px;
}

header .menu.left li:hover {
  border-bottom: 2px solid black;
}

header .menu.right li:not(.menu.right ul > li:last-child ):hover {
  border-bottom: 2px solid black;
}

header a img {
  vertical-align: middle;
}

header a {
  color: #474747;
}

header .btn.menu { 
  margin-left: 25px;
  padding: 5px 15px;
  display: inline;
}

/* JUMBOTRON  */
.jumbotron {
  background-color: #b4d0e7;
  height: 820px;
  padding-top: 80px;
}

.jumbotron .catch {
  height: 45%;
}

.jumbotron .callto {
  height: 55%;
}

.jumbotron .jumbo-image {
  width: 55%;
}

.jumbotron .over-image {
  width: 130%;
  height: 130%;
}

.jumbotron h1 {
  padding: 80px 0;
}

.jumbotron i {
  color: black;
  font-size: 3rem;
}

.jumbotron .jumbo.d-flex-col {
  width: 30%;
  justify-content: space-around;
}

.jumbotron .text {
  font-size: 1.1rem;
}

.jumbotron .text * {
  margin-bottom: 50px;
}

.jumbo .arrow {
  margin-bottom: 20px;
}

.jumbotron .btn {
  display: inline;
}

/* MAIN */
main {
  background-color: #ffffff;
}

/* PLANS SECTION */

main .plans .radio-button {
  margin-bottom: 50px;
}

.plans .month, .plans .year {
  display: inline-block;
  margin-right: 50px;
}

main .card, main .col-table {
  justify-content: space-between;
}

main .col-table {
  width: calc(100% / 3 - 36px);
  padding-bottom: 20px;
}

main .col-table, .row-table {
  border: 1px solid #d0d0d3;
}

main .col-table, main .col-table .top, .col-table .bottom, .col-table ul, .col-table .sell {
  flex-direction: column;
}

.plans p, .plans span {
  font-size: 0.9rem;
}

main .plans .size {
  border-bottom: 1px solid #d0d0d3;
  text-align: center;
  padding: 10px 0;
}  

.card .col-table:nth-child(1) .icon.user-size::before {
  content: "\f007";
}

.card .col-table:nth-child(2) .icon.user-size::before {
  content: "\f0c0";
}

.card .col-table:nth-child(3) .icon.user-size::before {
  content: "\f1ad";
}

main .col-table .top {
  height: 50%;
}

main .col-table .bar-row {
  margin: 50px 0;
  align-items: center;
}

main .col-table .bar-row .horizontal-bar {
  background-color: lightgray;
  height: 0.5px;
  width: 20%;
}
 
main .col-table .bottom {
  height: 50%;
}

.plans .col-table .top .title {
  margin-bottom: 50px;
}

main .plans .top {
  padding: 30px 30px 0;
} 

.plans .title span {
  font-weight: bold;
}

.plans .top .icon.user::before {
  content: "\f007";
}

.plans .top .icon.folder::before {
  content: "\f07b";
}

.plans .top .icon.share::before {
  content: "\f1e0";
}

.plans .top .sell {
  margin-top: 30px;
}

.plans .top .title :last-child {
  margin-top: 15px;
}

.plans .bottom {
  padding: 0 30px;
} 

.plans .bottom .icon {
  color: #0058ff;
}

.plans .bottom .icon.check::before {
  content: "\f00c";
}

.plans ul p {
  display: inline;
}

.plans .btn {
  display: inline;
  text-align: center;
}

.plans li {
  margin-bottom: 20px;
}

.plans .top .sell .btn {
  margin-bottom: 40px;
}

.plans .bottom h4 {
  margin-bottom: 30px;
}

.plans .row-table {
  margin-top: 50px;
}

.row-table .icon.user-size::before {
  content: "\f1ad";
}

.plans .off-contacts {
  padding: 40px 0px 30px;
}

.plans .off-left {
  width: calc(100% / 3 * 2 -10px);
  padding-left: 30px;
  justify-content: space-between
}

.plans .off-right {
  width: calc(100% / 3);
  text-align: center;
  padding: 0 30px;
}

.plans .off-right .btn {
  display: block;
 }

 .plans .off-left h3 {
  margin-bottom: 20px;
 }

 .plans .off-left h4 {
  margin-bottom: 40px;
}

/* MAIN - WHERE TO FIND SECTION */
.find .find-image {
  width: 60%;
}

.find .trust {
  width: 40%;
  padding: 60px 30px 60px 50px;
}

.find img {
  width: 100%;
}

.find .trust * {
  margin-bottom: 20px;
}

.find .trust .btn {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid black;
}

.find .trust a {
  color: black;
}

/* MAIN - BUSINESS SECTION */
.business .row-art {
  justify-content: space-between;
  flex-wrap: wrap;
}

.business article {
  width: calc(100% / 3 - 30px);
  margin-bottom: 50px;
}

.business article img {
  width: 100%;
}

.business article h3 {
  margin-bottom: 30px;
}

 /* PARTNER SECTION */
.partner .top-partner {
  margin-bottom: 150px;
}

.partner .top-partner h2 {
  width: 60%;
}

.partner .bottom-partner {
  aspect-ratio: 3;
}

.partner .big-box {
  width: calc(100% / 3);
  flex-wrap: wrap;
  overflow: scroll;
}

.partner .horizontal-bar {
  width: 20%;
  height: 1px;
}

.partner .box {
  width: 50%;
  height: 50%;
}

.partner .box svg, .partner .big-box img {
  width: 50%;
  color: #f5f5f5;
}

.box {
  justify-content: center;
  align-items: center;
}

.partner .big-box:nth-child(1) .box:nth-child(1) {
  background-color:#a2d39b;
}

.partner .big-box:nth-child(1) .box:nth-child(2) {
  background-color:#61082b;
}

.partner .big-box:nth-child(1) .box:nth-child(3) {
  background-color:#0093ce
}

.partner .big-box:nth-child(1) .box:nth-child(4) {
  background-color:#ff1c1c
}

.partner .big-box:nth-child(2) {
  background-color:#f5f5f5;
  padding: 50px;
}

.partner .big-box:nth-child(3) .box:nth-child(1) {
  background-color:#d5001f;
}

.partner .big-box:nth-child(3) .box:nth-child(2) {
  background-color:#b4d0e7;
}

.partner .big-box:nth-child(3) .box:nth-child(3) {
  background-color:#0d2481;
}

.partner .big-box:nth-child(3) .box:nth-child(4) {
  background-color: #ffd830;
}

.partner .big-box:nth-child(2) * {
  margin-bottom: 50px;
}

.partner .bottom-bis {
  background-color: #b4d0e7;
  color: #61083e;
}

.partner .box:focus {
  border: 15px solid;
  border-color: rgba(255, 255, 255, 0.5);
}

.bottom-bis .container {
  padding: 100px 0;
  justify-content: space-between;
}

.bottom-bis .container h2 {
  width: 50%;
}

.bottom-bis .container .btn {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 10px 40px;
}

.bottom-bis .container .btn a {
  color: black;
}

.bottom-bis .btn:hover {
  background-color: rgb(227, 222, 222);
}

/* FAQ SECTION */
.faq li {
  padding: 40px 0 ;
  border-bottom: 1px solid grey;
}
 
.faq ul {
  border-top: 1px solid grey;
}

.faq li.d-flex {
  justify-content: space-between;
}

.faq ul li .icon {
  padding-right: 40px;
  font-size: 0.7rem;
}

.faq .icon.chevron-down::before {
  content: "\f078";
}

.faq .icon.chevron-up::before {
  content: "\f077";
}

.faq ul li p {
  padding-top: 50px;
  display: none;
}

.faq ul li a.up {
  display: none;
}

.faq ul li:hover a.down {
  display: none;
}

.faq ul li:hover a.up {
  display: block;
}

.faq ul li:hover p {
    display: block;
}

 /* FOOTER  */
footer {
  background-color: #000000;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}

footer ul a:hover {
  text-decoration: underline;
}

.footer-top {
  justify-content: space-between;
}

footer li {
  padding-bottom: 15px;
}

footer .col-menu {
  padding: 100px 0 60px;
}

.footer-bottom {
  padding: 50px 0;
}

.footer-bottom * {
  padding-left: 5px;
  color: grey;
}

.footer-bottom .horizontal-bar {
  width: 10%;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.footer-bottom .icon.earth::before {
  content: "\f57d";
}

.footer-bottom .icon.caret-up::before {
  content: "\f0d8";
}